useDynLib(pfda)

importFrom("utils","head","tail")
importFrom("graphics","plot")
importFrom("stats", "logLik", "residuals","predict")
importFrom("orthogonalsplinebasis","SplineBasis","evaluate")

export(		
			"pfda",
			"pfdaControl",
			"Cdebug",
			"dual.ca",
			"single.c",
			"single.b"
			)
S3method(AIC,pfda.additive)
S3method(plot,pfda.additive)
